%p #{@trade.buyer.name} 様

%p 下記の注文していた商品の発送が完了しました。商品到着まで今しばらくお待ちください。

%p =====================================================

%p 注文された商品の情報

%p 商品名：#{@trade.product.name}
%p 価格：#{number_to_currency(@trade.product_price)}
%p 注文日時：#{l(@trade.confirmed_at)}
%p 発送日時：#{l(@trade.shipping_at)}

%p =====================================================

%p 商品が到着しましたら、取引画面より受取完了の手続きをお願いいたします。
%p ご不明点等ございましたら、運営までお問い合わせください。
