%p #{@trade.seller.name} 様

%p 下記の出品していた商品が注文されました。注文者住所まで発送の手続きをお願いいたします。

%p =====================================================

%p 注文された商品の情報

%p 商品名：#{@trade.product.name}
%p 価格：#{number_to_currency(@trade.product_price)}
%p 注文日時：#{l(@trade.confirmed_at)}

%p =====================================================

%p 注文者情報
%p 名前：#{@trade.buyer_name}
%p 電話番号：#{@trade.buyer_phone_number}
%p 郵便番号: #{@trade.buyer_zipcode}
%p 住所：#{@trade.buyer_address}

%p =====================================================

%p 商品の発送が完了しましたら、取引画面より発送完了の手続きをお願いいたします。
%p ご不明点等ございましたら、運営までお問い合わせください。
