.row.justify-content-center
  .col-8
    %h1.fs-2.mb-4 取引詳細
    %dl.row
      .card.p-3
        %dt.col-3 商品名
        %dd.col-9.p-1= @seller_progressing_trade.product.name

        %dt.col-3 カテゴリー
        %dd.col-9.p-1= @seller_progressing_trade.product.category.name

        %dt.col-3 商品説明
        %dd.col-9.p-1= @seller_progressing_trade.product.description

        %dt.col-3 商品価格
        %dd.col-9.p-1= number_to_currency(@seller_progressing_trade.product_price)

        %dt.col-3 販売手数料
        %dd.col-9.p-1= number_to_currency(@seller_progressing_trade.selling_fee)

        %dt.col-3 注文確定日時
        %dd.col-9.p-1= l(@seller_progressing_trade.confirmed_at)

        %dt.col-3 購入者
        %dd.col-9.p-1= @seller_progressing_trade.buyer.name

        %dt.col-3 購入者郵便番号
        %dd.col-9.p-1= @seller_progressing_trade.buyer.zipcode

        %dt.col-3 購入者住所
        %dd.col-9.p-1= @seller_progressing_trade.buyer.address

        %dt.col-3 取引状況
        %dd.col-9.p-1= trade_status_tag(@seller_progressing_trade)

    - unless @seller_progressing_trade.shipped?
      .text-end
        = button_to '発送を完了にする',
                  seller_users_progressing_trade_path(@seller_progressing_trade),
                  method: :patch,
                  class: 'btn btn-primary mt-3',
                  data: { confirm: '発送を完了にします。よろしいですか？' }
