.row.justify-content-center
  .col-7
    %h1.fs-2.mb-4 #{@product.name} 詳細
    .mb-4.text-center
      = product_image_tag(@product, :display)
    %dl.row
      .card.p-3
        %dt.col-3 商品名
        %dd.col-9.p-1= @product.name

        %dt.col-3 商品説明
        %dd.col-9.p-1= @product.description

        %dt.col-3 価格
        %dd.col-9.p-1= number_to_currency(@product.price)

    .text-end
      - if user_signed_in? && @product.sold_by?(current_user)
        = link_to '編集する', edit_seller_users_product_path(@product), class: 'btn btn-primary'
      - else
        = button_to '購入する',
                    buyer_users_progressing_trades_path(product: @product),
                    class: 'btn btn-danger',
                    data: { turbo_confirm: '購入してもよろしいですか？' }
