.row.justify-content-center
  .col-7
    %h1.fs-2.mb-4 #{@product.name} 詳細
    %dl.row
      .card.p-3
        %dt.col-3 商品名
        %dd.col-9.p-1= @product.name

        %dt.col-3 商品説明
        %dd.col-9.p-1= @product.description

        %dt.col-3 価格
        %dd.col-9.p-1= number_to_currency(@product.price)

    -# TODO: リファクタ
    - if user_signed_in? && @product.owned_by?(current_user)
      .text-end= link_to '編集する', edit_users_product_path(@product), class: 'btn btn-primary'
